
.hero-bg {
    background-color: #0C3B1B;
}
.secondary-color {
    background-color: #FFFE03;
}
.primary-color {
    color: #0C3B1B;
}
.bg-primary {
    background-color: #0C3B1B;
}
.text-primary {
    color: #0C3B1B;
}
.border-primary {
    border-color: #0C3B1B;
}
.hover\:bg-primary:hover {
    background-color: #083018;
}
